html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 2px solid black;
    height: 750px;
    width: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.screen {
    border: 2px solid black;
    height: 75px;
    width: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

.top-screen, .bottom-screen {
    border: 2px solid black;
    height: 25px;
    width: 398px;
    text-align: right;
}

.bottom-screen {
    height: 50px;
}

.buttons-container {
    border: 2px solid black;
    height: 550px;
    width: 400px;
    display: flex;
    flex-flow: column;
    align-items: baseline;
}